<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BiblioVélo</title>
    <!-- STYLESHEET FILE -->
    <link href="~/css/style.css" type="text/css" rel="stylesheet" />
    <link href="~/font/stylesheet.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="~/css/stellarnav.min.css">
</head>
<body>
    <div id="wrapper">
        <!-- Main-wrapper Start -->
        <div class="banner">
            <!-- banner Start -->
            <div class="nav-outer">
                <div class="container">
                    <div class="nav-bar">
                        <div class="logo">
                            <a href="javascript:;"><img src="~/img/logo.png" alt="logo" title="logo"></a>
                        </div>
                        <div id="main-nav" class="stellarnav">
                            <ul>
                                <li style="border-top: 2px solid #ea8baa;"><a href="javascript:;" style="font-family:'swis721_cn_bt_roman-webfont'">Home</a></li>
                                <li><a href="javascript:;" style="font-family:'swis721_cn_bt_roman-webfont'">About Us</a></li>
                                <li><a href="javascript:;" style="font-family:'swis721_cn_bt_roman-webfont'">FAQs</a></li>
                                <li><a href="javascript:;" style="font-family:'swis721_cn_bt_roman-webfont'">Partners</a></li>
                                <li ><a href='@Url.Content("/Home/TandC")' style="font-family:'swis721_cn_bt_roman-webfont'"> Terms and Conditions</a></li>
                                <li ><a href='@Url.Content("/Home/InsurancePolicy")' style="font-family:'swis721_cn_bt_roman-webfont'">Insurance Policy</a></li>
                                <li><a href='@Url.Content("/Home/PrivacyPolicy")' style="font-family:'swis721_cn_bt_roman-webfont'">Privacy Policy</a></li>
                                <li><a href="javascript:;" style="font-family:'swis721_cn_bt_roman-webfont'">Contact</a></li>
                            </ul>
                        </div><!-- .stellar-nav -->
                    </div>
                </div>
            </div>
            <div class="banner-text">
                <div class="container">
                    <!--<h3>Join for the tracking,<span>stay for the community.</span></h3>-->
                </div>
            </div>

        </div><!-- banner End -->
        <div class="container">
            <!-- about start -->
            <div class="sec-outer">
                <div class="upper-box">
                    <span class="text-lt" style="font-size: 40px;margin-left: 24px;">Download Now!</span>
                    @*<span class="play-store">
                            <a href="javascript:;"><img src="~/img/app-store.png" alt="app-store" title="app-store" /></a>
                            <a href="javascript:;"><img src="~/img/google-store.png" alt="google-store" title="google-store" /><img src="~/img/common-soon.png" style="margin-top: -110px;margin-left: 170px;"></a>
                        </span>*@
                    <span class="play-store">
                        <a href="javascript:;"><img src="/img/app-store.png" alt="app-store" title="app-store"></a>
                        <a href="javascript:;"><img src="/img/google-store.png" alt="google-store" title="google-store"></a>


                    </span>
                </div>
                <div class="About-Bibliovélo">
                    <h4>Introducing BiblioVélo</h4>
                    <p style="font-family: Avenir Next;">BiblioVélo is the leading peer-to-peer bicycle rental platform built for you to achieve your cycling goals. Being cyclists ourselves, we are well versed in how expensive and logistically impossible it is to own and maintain a competition standard bicycle for each discipline whether it is Road Cycling, Triathlon or MTB. We’re removing those entry barriers for you by creating a community of cyclists who share their bicycles so you can cycle when and how you want.   </p>
                    <h3 style="font-family: Avenir Next;">We look forward to seeing you out on the bike,</h3>
                    <h5>The BiblioVélo Team </h5>
                </div>
            </div>
        </div><!-- about end -->
        <div class="outer-div">
            <div class="container-fluid">
                <h3 class="sec-heading">Your dream bicycle is just a click away...</h3>
                <div class="mob-lt">
                    <img src="~/img/mob.png" alt="mobile" title="mobile" />
                </div>
                <div class="mob-rt">
                    <h4>Browse</h4>
                    <p>BiblioVélo has a range of user-friendly filter options to help you search for that perfect bicycle. Whether you need to become aerodynamic for that 30km time trial coming up or you just fancy a few days riding in the Peak District, you’ll find the perfect ride through us.  </p>
                </div>
            </div>
        </div>

        <div class="outer-div">
            <div class="container-fluid">
                <div class="mob-lt mob-lt2">
                    <img src="~/img/mob2.png" alt="mobile" title="mobile" />
                </div>
                <div class="mob-rt mob-rt2">
                    <h4>Make a Booking </h4>
                    <p>We understand that you live a busy life therefore we have made a transparent and safe booking process. Achieving your cycling dreams is just a click away.   </p>
                </div>

            </div>
        </div>

        <div class="outer-div">
            <div class="container-fluid">
                <div class="mob-lt">
                    <img src="~/img/mob3.png" alt="mobile" title="mobile" />
                </div>
                <div class="mob-rt">
                    <h4>Ratings and Reviews</h4>
                    <p>The BiblioVélo community is a secure and reliable platform thanks to our users. Our ratings and reviews system plays a big role in building trust and ensuring that you are interacting with fellow cyclists who have your best interests at heart.  </p>
                </div>
            </div>
        </div>

        <div class="outer-div">
            <div class="container-fluid">
                <div class="mob-lt mob-lt2">
                    <img src="~/img/mob4.png" alt="mobile" title="mobile" />
                </div>
                <div class="mob-rt mob-rt2">
                    <h4>Insurance </h4>
                    <p>As cyclists ourselves, we know how precious our bicycles are, which is why we have partnered with Yellow Jersey insurance. We have purchased a policy for all our customers which provides comprehensive coverage of the bicycle throughout the rental period.</p>
                </div>

            </div>
        </div>

        <div class="footer">
            <div class="container">
                <p>© 2019 BiblioVélo. All Rights Reserved</p>
            </div>
        </div>
    </div><!-- Main-wrapper End-->
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script type="text/javascript" src="~/js/stellarnav.min.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function($) {
			jQuery('.stellarnav').stellarNav({
				theme: 'light'
			});
		});
    </script>
</body>
</html>
