<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bibliovelo</title>
    <!-- STYLESHEET FILE -->
    <link href="~/css/style.css" type="text/css" rel="stylesheet" />
    <link href="~/font/stylesheet.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="~/css/stellarnav.min.css">
</head>
<body>
    <div id="wrapper">
        <!-- Main-wrapper Start -->
        <div class="banner">
            <!-- banner Start -->
            <div class="nav-outer">
                <div class="container">
                    <div class="nav-bar">
                        <div class="logo">
                            <a href="javascript:;"><img src="~/img/logo.png" alt="logo" title="logo"></a>
                        </div>
                        <div id="main-nav" class="stellarnav">
                            <ul>
                                <li ><a href='@Url.Content("/Home/Index")' style="font-family:'swis721_cn_bt_roman-webfont'">Home</a></li>
                                <li><a href="javascript:;" style="font-family:'swis721_cn_bt_roman-webfont'">About Us</a></li>
                                <li><a href="javascript:;" style="font-family:'swis721_cn_bt_roman-webfont'">FAQs</a></li>
                                <li><a href="javascript:;" style="font-family:'swis721_cn_bt_roman-webfont'">Partners</a></li>
                                <li ><a href='@Url.Content("/Home/TandC")' style="font-family:'swis721_cn_bt_roman-webfont'"> Terms and Conditions</a></li>
                                <li style="border-top: 2px solid #ea8baa;"><a href='@Url.Content("/Home/InsurancePolicy")' style="font-family:'swis721_cn_bt_roman-webfont'">Insurance Policy</a></li>
                                <li><a href='@Url.Content("/Home/PrivacyPolicy")' style="font-family:'swis721_cn_bt_roman-webfont'">Privacy Policy</a></li>
                                <li><a href="javascript:;" style="font-family:'swis721_cn_bt_roman-webfont'">Contact</a></li>
                            </ul>
                        </div><!-- .stellar-nav -->
                    </div>
                </div>
            </div>
            <!--<div class="banner-text">
                        <div class="container">
                            <h3>Join for the tracking,<span>stay for the community.</span></h3>
                        </div>
                    </div>-->

        </div><!-- banner End -->
        <div class="container">
            <!-- about start -->
            <div class="sec-outer privacy-outer">
                <div class="upper-box">
                    <span class="text-lt text-center" style="font-family:'swis721_cn_bt_roman-webfont'">BiblioVélo: Terms Of Cover</span>
                    <!-- <span class="play-store">
                        <a href="javascript:;"><img src="img/app-store.png" alt="app-store" title="app-store"/></a>
                        <a href="javascript:;"><img src="img/google-store.png" alt="google-store" title="google-store"/></a>
                    </span> -->
                </div>
                <div class="About-Bibliovélo privacy-list">


                    <ol>
                        <li>
                            <h3>What BiblioVélo will cover you for during your rental</h3>
                            <ul class="square-list">
                                <li>Theft of your BiblioVélo rental bicycle if you have complied with our security requirements</li>
                                <li> Accidental damage to the BiblioVélo rental bicycle </li>
                                <li>Malicious damage caused to the BiblioVélo rental bicycle </li>

                            </ul>
                        </li>

                        <li>
                            <h3>Where BiblioVélo will cover you:</h3>
                            <ul class="square-list">
                                <li>The UK and any worldwide for a trip lasting up to 30 days, provided the rental covers the trip in its entirety </li>
                                <li>Cover extends to your rental bicycle whilst in transit, provided it is securely packaged, using a recognised carrier and a receipt is obtained.</li>

                            </ul>
                        </li>

                        <li>
                            <h3> What BiblioVélo will NOT cover you for during your rental:</h3>
                            <ul class="square-list">
                                <li>The ﬁrst £150 of any claim </li>
                                <li>For claim cost higher than the value of rental bicycle as listed in your rental agreement </li>
                                <li>Theft of your rental bicycle if you have not complied with our security requirements</li>
                                <li>Any claim if the rental bicycle has not been used in accordance with local laws</li>
                                <li>Any act of fraud or dishonesty by you, anyone acting on your behalf </li>
                                <li>Any claim if the rental bicycle is used for semi-professional or professional purposes </li>
                                <li> Theft, damage or malicious damage of your rental bicycle whilst in or on a motor vehicle</li>
                                <li>Theft, damage or malicious damage to any wheels other than those as agreed in the rental agreement </li>
                                <li>Theft, damage or malicious damage to clothing, helmets or any other part of the rental bicycle that is not integral to the use of the rental bicycle (e.g. bike computer) </li>
                                <li>Theft or malicious damage of wheels and/or power meter devices when away from an insured location unless the rental bicycle itself is stolen or damaged </li>
                                <li>Any injury or damage you cause to third parties or third party property whilst using the rental bicycle </li>
                                <li> Accidental damage sustained in transit when handed to a recognised transport provider, unless securely packaged and a receipt obtained. </li>
                                <li>Any injuries you sustain during the period of your rental </li>
                                <li>Any claim if you have been using the rental bicycle for hire or reward </li>
                                <li>Any claim if you have lent the rental bicycle to anyone else during the period of your rental </li>
                                <li>Gradual wear and tear, cosmetic damage, mechanical or electric breakdown, defect or malfunction </li>
                                <li>	Any costs incurred due to the bicycle owner or renter’s failure to maintain the rental bicycle in roadworthy manner </li>
                                <li>Natural disasters. </li>
                            </ul>
                        </li>

                        <li>
                            <h3>Important information: </h3>
                            <ul class="square-list">
                                <li>If the rental bicycle is lost or stolen, and its disappearance cannot be explained, you will be liable for the entire replacement value of the rental bicycle </li>
                                <li>Every time you lock up the rental bicycle outside, you must take a photo of the bike demonstrating it is locked to an immovable object using the Gold rated lock provided to you at the start of the rental</li>
                                <li>If the rental bicycle is stolen, you must notify the police immediately and obtain a crime reference number </li>
                                <li>Claims must be submitted within 7 days of the incident</li>
                            </ul>

                        </li>

                        <li>
                            <h3>SECURITY REQUIREMENTS</h3>
                            <ul class="square-list">
                                <li>Within a building: </li>
                                <li>
                                    At a home, ﬂat, temporary residence (such as holiday cottage, hotel or guesthouse) where the bicycle is kept inside:
                                    <ul class="circle-list">
                                        <li>The rental bicycle DOES NOT need to be secured through the frame by a Gold lock to an immovable object, however any home security devices must be in operation and all ﬁnal exit doors and accessible windows must be locked.</li>

                                    </ul>

                                </li>

                                <li>
                                    In a private garage or privately accessed wooden shed:
                                    <ul class="circle-list">
                                        <li>All external doors must be secured by a minimum of a 5-lever mortice deadlock to BS3621 standard or a CEN Grade 3 closed shackle padlock, or</li>
                                        <li> The rental bicycle must be secured through the frame by a Gold rated lock to an immovable object within the building. </li>

                                    </ul>

                                </li>

                                <li>
                                    In a communal room, hallway or communal outbuilding:
                                    <ul class="circle-list">
                                        <li>The rental bicycle must be secured through the frame by a gold rated lock to an immovable object within the building. Outside of a building: Malicious damage or theft of the rental bicycle whilst away from a building shall only be covered in circumstances where:</li>


                                    </ul>

                                </li>
                                <li>The rental bicycle is not left unattended by you; or</li>
                                <li>The rental bicycle is left unattended, but secured to an immovable object by an approved lock through the frame and any access to the rental bicycle is affected by forcible and violent entry. </li>
                                <li> The rental bicycle is not left locked and unattended for a period longer than 12 hours. </li>
                                <li>A time stamped photo is provided demonstrating you have adhered to Security Requirement 5.</li>
                            </ul>
                        </li>



                    </ol>
                    </li>
                    </ol>







                </div>
            </div>
        </div><!-- about end -->


        <div class="footer">
            <div class="container">
                <p>© 2019 Bibliovélo. All Rights Reserved</p>
            </div>
        </div>
    </div><!-- Main-wrapper End-->
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script type="text/javascript" src="js/stellarnav.min.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function($) {
			jQuery('.stellarnav').stellarNav({
				theme: 'light'
			});
		});
    </script>
</body>
</html>
