<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.8.18.91\seasia2k14,1613;Initial Catalog=Bibliovelo;user id=Bibliovelo;Password=#ibl!0v90;Integrated Security=false" providerName="System.Data.SqlClient" />
    <add name="BiblioveloEntities1" connectionString="metadata=res://*/BiblioVeloORM.csdl|res://*/BiblioVeloORM.ssdl|res://*/BiblioVeloORM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ec2-13-58-78-14.us-east-2.compute.amazonaws.com;initial catalog=Bibliovelo;user id=Bibliovelo;password=#ibl!0v90;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AdminEmail" value="info@bibliovelo.com" />
    <add key="BookingLink" value="http://13.58.78.14/BiblioVeloWeb/"/>
    <add key="Host" value="smtp.gmail.com" />
    <add key="CC" value="admin@bibliovelo.com" />
    <add key="FromEmail" value="seasia.testnew@gmail.com" />
    <add key="Password" value="seasia#123" />
    <add key="Port" value="587" />
    <add key="TheftClaimPdf" value="http://13.58.78.14/BiblioVeloWeb/PdfTemplates/TheftClaimForms/" />
    <add key="AccidentalClaimPdf" value="http://13.58.78.14/BiblioVeloWeb/PdfTemplates/AccidentalClaimForms/" />
    <add key="InsurerEmail" value="booking@bibliovelo.com" />
    <add key="EncryptionKey" value="MAKV2SPBNI99212" />
    <add key="AdminStripeApiKey" value="sk_live_FpFRnY1dxdNguIMg3Tj24lra" />
    <add key="AdminStripeAccountId" value="acct_1BRdz4E0Vd8C4nhY" />
    <add key="OnfidoApiKey" value="test_ntXUXaNqCMqHpDbYeum0s62oQsv8fp6Z" />
    <add key="CertificatePassword" value="123456" />

    <add key="OLDAdminStripeApiKey" value="sk_test_CGLlTqvGcUkVoAa0Mo5LIvC0" />
    <add key="OLDStripeLiveApi" value="sk_live_udlYLzS837pxfk7Pkaamjm2O" />
    <add key="OLdPaypalclientId" value="AQNyAD0IBJPlVPhdP2nppPAVZ_1dUnqKq-ao_WPjwpnMnAgQCGEEP42ec4X_ePxmTaoqGJmlRa-_8Sb5"/>
    <add key="OLDPaypalclientSecret" value="EFe898hqW_1KjQ7jZui08ytXmcqI-C_nrG-Xy785Hv5cHMez4XoBh86Z0wa8HhLne8FNMbXtiJMS94EQ"/>

  </appSettings>
  <paypal>
    <settings>
      <add name="mode" value="live"/>
      <add name="clientId" value="ARCJKfW5XZl5fBRKr_SYyHekyljf7sHP1-YI2WgzrlnX4KCGezMdOYpiZ1Mv0b1Ext3tNmVJPR84a8TA"/>
      <add name="clientSecret" value="EA1vH3_YSaYo5wK-g3rPbwNicdsEv3XMI7CZdLk2qxrZ5CWBS852sRmL_clJKQn-tCY81dXcALv3jMp5"/>
    </settings>
  </paypal>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>